<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="Final_Jenkins_JqueryUi_Project">
        <classes>
            <class name="com.jqueryUi.runner.TestRunner"/>
        </classes>
    </test>

</suite>